@import '../../assets/theme/colors';

.template-container ::ng-deep .p-card {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  overflow: auto;
  background-color: $color__background;
  padding-bottom: 20px;

  .p-card-content {
    padding-top: 0.25rem;
    padding-bottom: 0;
  }

  .p-card-body {
    padding-top: 0.25rem;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .template-container ::ng-deep .p-card {
    height: auto;
  }
}
