@import "../../colors";

.p-menubar {
  height: 60px;
  background-color: #0A090C;
  border-radius: 0;
  border: none;

  p-menubarsub {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  img {
    cursor: pointer;
  }
  .user-logo {
    width: 40px;
  }
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  .p-menuitem-text {
    color: red;
  }

  box-shadow: none !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link-active  {
  .p-menuitem-text {
    color: #2196F3;
  }
  background-color: $background-secondary-color;
}

@media screen and (max-width: 960px) {
  .p-menubar {
    .user-logo {
      display: none;
    }
  }
}
