@import '../../constants';

.p-paginator {
  padding-top: 0;
  width: 100%;

  .p-paginator-pages .p-paginator-page {
    border: none;
    border-radius: 50%;
  }
  .p-paginator-current {
    width: 100%;
    font-family: $default-font-family;
    height: auto;
    padding-bottom: 10px;
  }
  .p-paginator-first, .p-paginator-prev, .p-paginator-next, .p-paginator-last {
    border: none;
    border-radius: 50%;
  }

  .p-dropdown {
    height: 2rem;
    border: 1px solid $border-gray;
  }

  .p-inputwrapper-focus .p-dropdown {
    border: 1px solid $border-gray;
    box-shadow: none;
  }

  .p-inputtext {
    line-height: 7px;
  }
}
