<p-menubar [model]="portalMenuItems">
  <ng-template pTemplate="start" >
    <img class="user-logo" src="./assets/images/store_logo_white.png"(click)="backToHome()">
  </ng-template>
  <ng-template pTemplate="end">
    <p-avatar image="./assets/images/user_image.jpg" styleClass="mr-2" shape="circle" (click)="toggleOverlay()">
    </p-avatar>
  </ng-template>
  <p-overlayPanel class="text-nowrap" (onShow)="onShowOverlay()" (onHide)="onHideOverlay()" #userOptionsOverlay>
    <p-tieredMenu #menu [model]="userMenuItems" appendTo="body"></p-tieredMenu>
  </p-overlayPanel>
</p-menubar>
<p-toast position="top-left"></p-toast>
