<!--<div class="flex justify-content-center">-->
<!--  <p-progressSpinner *ngIf="isLoading" class="small-spinner"></p-progressSpinner>-->
<!--</div>-->
<div class="details">
  <div class="details-sidebar-header">
    <h5>Detalhes</h5>
    <button pButton class="button-icon" icon="icon mi-edit" (click)="editProduct()"></button>
    <button pButton class="button-icon" icon="icon mi-delete" (click)="deleteProduct()"></button>
    <button pButton class="button-icon" icon="i\con mi-close" (click)="closeDetails()"></button>
  </div>
  <div class="details-sidebar-separator"></div>
  <div class="details-sidebar-content">
    <ng-template #loading>
        <p-progressSpinner class="small-spinner"></p-progressSpinner>
    </ng-template>
    <dl class="sidebar-content-list" *ngIf="!asyncOperationsStatus.isProcessingRequest else loading">
      <div class="row">
        <div class="col">
          <dt [translate]="'portal.components.product.details.fields.product'"></dt>
          <dd>{{product?.name}}</dd>
        </div>
        <div class="col">
          <dt [translate]="'portal.components.product.details.fields.value'"></dt>
          <dd>{{product?.value | currencyExchange | currency : currencyCode}}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <dt [translate]="'portal.components.product.details.fields.createdAt'"></dt>
          <dd>{{product?.createdAt}}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <dt [translate]="'portal.components.product.details.fields.updatedAt'"></dt>
          <dd>{{product?.updatedAt}}</dd>
        </div>
      </div>
    </dl>
  </div>
</div>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" transitionOptions="200ms"></p-confirmDialog>
