$dusk-lake-000: #E2EEFA;
$dusk-lake-100: #C3E0F5;
$dusk-lake-200: #A3D0F0;
$dusk-lake-300: #7DC2EC;
$dusk-lake-400: #69ABD4;
$dusk-lake-500: #5595BC;
$dusk-lake-600: #437FA6;
$dusk-lake-700: #2D6A90;
$dusk-lake-800: #17557A;
$dusk-lake-900: #09405E;
$dusk-cherry-000: #FFFBFA;
$dusk-cherry-100: #FFECE8;
$dusk-cherry-200: #FFD9D1;
$dusk-cherry-300: #FF6E6A;
$dusk-cherry-400: #FF443B;
$dusk-cherry-variant: #FF867B;
$dusk-purple-haze-000: #E6DBEB;
$dusk-purple-haze-100: #CDB8D6;
$dusk-purple-haze-200: #B496C1;
$dusk-purple-haze-300: #9A75AE;
$dusk-purple-haze-400: #815F96;
$dusk-purple-haze-500: #6A497E;
$dusk-purple-haze-600: #5F3E72;
$dusk-purple-haze-700: #543468;
$dusk-purple-haze-800: #482B5C;
$dusk-purple-haze-900: #3D2051;
$dusk-horizon-000: #FFE7DA;
$dusk-horizon-100: #FFCFB6;
$dusk-horizon-200: #FFB793;
$dusk-horizon-300: #FF9F70;
$dusk-horizon-400: #FF8E55;
$dusk-horizon-500: #FF7C36;
$dusk-horizon-600: #F86302;
$dusk-horizon-700: #F14800;
$dusk-horizon-800: #E54000;
$dusk-horizon-900: #D93B00;
$honey-000: #FFF8E1;
$honey-100: #FFECB3;
$honey-200: #FFE185;
$honey-300: #FFD15A;
$honey-400: #FFC638;
$honey-500: #FFB829;
$honey-600: #FFA515;
$honey-700: #FF9B00;
$honey-800: #F88800;
$honey-900: #EE7300;
$parasailing-000: #DAF5F5;
$parasailing-100: #A2E4E2;
$parasailing-200: #5AD2D0;
$parasailing-300: #00C0BD;
$parasailing-400: #00B1AD;
$parasailing-500: #00A39E;
$parasailing-600: #00948F;
$parasailing-700: #00837C;
$parasailing-800: #00726B;
$parasailing-900: #00534B;
$merlot-000: #FFE2EB;
$merlot-100: #F0B6CA;
$merlot-200: #E28DAA;
$merlot-300: #D4678E;
$merlot-400: #B74B73;
$merlot-500: #AB3E66;
$merlot-600: #9D3360;
$merlot-700: #8D265B;
$merlot-800: #6D1A4D;
$merlot-900: #5B1248;
$nimbus-gray-000: #F2F5F6;
$nimbus-gray-100: #E9EDEF;
$nimbus-gray-200: #CBD4D8;
$nimbus-gray-300: #96A7AD;
$nimbus-gray-400: #7A8F95;
$nimbus-gray-500: #617278;
$nimbus-gray-600: #505E63;
$nimbus-gray-700: #323C3F;
$nimbus-gray-800: #262E30;
$nimbus-gray-900: #0E1213;
$stratus-walnut-000: #F9F4F2;
$stratus-walnut-100: #F3EAE6;
$stratus-walnut-200: #E0CBC2;
$stratus-walnut-300: #CCAE9D;
$stratus-walnut-400: #AE9182;
$stratus-walnut-500: #907568;
$stratus-walnut-600: #715A50;
$stratus-walnut-700: #574138;
$stratus-walnut-800: #4A352C;
$stratus-walnut-900: #3C2921;
$stratus-lake-000: #A4B5C2;
$stratus-lake-100: #87A0AF;
$stratus-lake-200: #6B8798;
$stratus-lake-300: #487189;
$stratus-lake-400: #285D76;
$stratus-lake-500: #004660;
$stratus-lake-600: #003C58;
$stratus-lake-700: #002D4B;
$stratus-lake-800: #001F3A;
$stratus-lake-900: #000D26;

/*Custom*/
$error-red: #C40000;
$success-green: #23AC61;
