$rich-black: #0A090C;
$rich-black-light: #3e3c43;
$maximum-blue: #57AFC7;
$middle-blue: #90DDF0;
$nimbus-gray-000: #F2F5F6;
$nimbus-gray-100: #E9EDEF;
$nimbus-gray-200: #CBD4D8;
$nimbus-gray-300: #96A7AD;
$nimbus-gray-400: #7A8F95;
$nimbus-gray-500: #617278;
$nimbus-gray-600: #505E63;
$nimbus-gray-700: #323C3F;
$nimbus-gray-800: #262E30;
$nimbus-gray-900: #0E1213;

/*Custom*/
$error-red: #C40000;
$error-red-light: #EC6767;
$success-green: #23AC61;
$success-green-light: #5CC18A;
$white: #FFFFFF;
$black: #000000
