@import '../constants';

.p-breadcrumb {
  border: none;
  padding: 0px;
  font-size: 12px;
  line-height: 16px;
  color: red;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

.p-breadcrumb ul li .p-menuitem-link {
  pointer-events: none;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
  color: red;
  cursor: default;
}

.p-breadcrumb ul li:last-child .p-menuitem-link .p-menuitem-text {
  color: blue;
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
  font-size: 8px;
  color: red;
}
