<div class="main-container">
  <div class="login-container">
    <p-card>
      <div class="content flex-column d-flex justify-content-center align-items-center">
        <p-image src="./assets/images/store_logo.png" alt="Image" width="150"></p-image>
          <span class="p-float-label">
            <input id="mail" type="text" class="form-field-extra-large p-inputtext-sm" pInputText>
            <label for="mail">E-mail</label>
          </span>
          <span class="p-float-label mt-4">
            <input id="password" type="password" class="form-field-extra-large p-inputtext-sm" pInputText>
            <label for="password">Password</label>
          </span>
        <button pButton type="button" label="Login" class="form-field-extra-large p-button-sm mt-3"
                (click)="executeLogin()"></button>
      </div>
    </p-card>
  </div>
</div>
