@import "../../../assets/theme/colors";

::ng-deep {

  .p-card {
    .p-card-footer {
      padding: 0;
      height: 60px;
      background-color: $color__quaternary;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-around;

      .row {
        text-align: center;
      }
      .login-instructions {
        font-weight: bold;
        color: $label-gray--dark !important;
      }

      .p-button {
        color: $color__primary--very-light;
        font-weight: bold;
      }
    }
  }
}

.login-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
}

::ng-deep .login-content .p-card {
  width: 450px;
  height: 500px;
  background-color: $color__background;
}

form {
  padding: 0 30px;
  width: 100%;
}

@media (max-width: 991px) {
  .login-content {
    justify-content: unset;
  }
}
